HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


### VS Code ###
.vscode/
/build.gradle
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/checksums/checksums.lock
/.gradle/6.8/executionHistory/executionHistory.bin
/.gradle/6.8/executionHistory/executionHistory.lock
/.gradle/6.8/fileHashes/fileHashes.bin
/.gradle/6.8/fileHashes/fileHashes.lock
/.gradle/6.8/gc.properties
/.gradle/configuration-cache/gc.properties
/.gradle/vcs-1/gc.properties
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/.gradle/6.8/fileChanges/last-build.bin
/.gradle/buildOutputCleanup/outputFiles.bin
/settings.gradle
